
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
      	<h1>Editando datos de un jugador</h1>
        <%= link_to 'Ver', @player %> |
		<%= link_to 'Atras', players_path %>
      </div>
      <div class="col-lg-9">
    
        <%= render 'form' %>
          
      </div>
    </div>
  </div>
</section>



